.deck {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  justify-content: center;
  width: 285px ;
  padding:20px;
  margin: auto;
}

.bcg {
  background-color: rgba(0,0,0,.4);
  border-radius: 10px;
  width: 45px;
  height: 45px;
}

.letterImg {
  width: 45px;
  height: 45px;
}
