<div id="rack" class="deck mb-2 letters" >
    <div *ngFor="let el of boardService.rack"
         id="{{el.coordinates}}"
         class="{{el.fieldClass}}"
         (cdkDropListDropped)="drop($event)"
         cdkDropList>
      <img *ngIf="el.letter.url !=null"
           class="letterImg"
           src="{{el.letter.url}}"
           alt="{{el.letter.character}} letter"
           (click)="markLetter($event)"
           cdkDrag
           [cdkDragDisabled]="el.letter.disabled">
    </div>
</div>

