<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <a class="nav-link navbar-brand" routerLink="">LITTERKI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <a class="btn btn-warning my-2 my-sm-0" type="submit" (click)="startGame()">Nowa gra</a>
  </div>
</nav>

<div class="loading" *ngIf="loading">
  <img class="loadingImg" src="../assets/img/loading.gif"/>
  <p class="loadingText">Please be patient, count to 10..., we're waking up the backend on Heroku for you.</p>
</div>

<router-outlet></router-outlet>
