#navbar{
  background-color: rgba(0,0,0,.7) !important;
}

.loading{
  width: 800px;
  height: 500px;
  margin: 0 auto;
}

.loadingImg {
  width: 80px;
  height: 80px;
  margin: 100px calc((800px - 80px) / 2);
}

.loadingText{
 font-weight: lighter;
  text-align: center;
}
