p {
  font-weight: normal;
  text-align: right;
}

#messageBox {
  overflow: auto;
  padding-right: 15px;
  overflow-y: scroll;
  font-weight: lighter;
  font-style: italic;
  text-align: right;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

#messageBox::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.points {
  font-size: 3em;
  text-align: right;
}

.score {
  font-size: small;
  font-style: italic;
}

.info {
  height: 15vh;
}

.background {
  background-color: rgba(0,0,0,.4);
  padding: 5px;
  border-radius: 10px;
}
