<div class="background">
  <div class="container ">
    <div class="row align-items-end">
      <div class="col-3">
        <p class="score"><b>PUNKTY</b></p>
      </div>
      <div class="col-9">
        <p class="ml-2 mb-1 mt-1 points"><em>0</em></p>
      </div>
    </div>
  </div>
</div>


<div class="container mt-2 mb-2">
  <div class="row align-items-baseline justify-content-lg-between">
    <button type="button" class="btn btn-primary btn-sm" (click)="checkMove()">Akceptuj</button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="exchangeLetters()">Wymień</button>
    <button type="button" class="btn btn-primary btn-sm " (click)="passMove()">Pasuj</button>
  </div>
</div>

<div class="background info">
<p class="mt-4 ml-2">Komunikaty</p>
</div>
