.board {
  display: grid;
  /*grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto ;*/
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  grid-gap: 2px;
  height: calc(90vh - 28px);
  width: calc(90vh - 28px);
}

.word3 {
  background-color: rgba(206, 76, 6, .4);
  border-radius: 5px;
}

.word2 {
  background-color: rgba(210, 210, 60, .3);
  border-radius: 5px;
}

.letter3 {
  background-color: rgba(11, 15, 93, .6);
  border-radius: 5px;
}

.letter2 {
  background-color: rgba(11, 80, 90, .6);
  border-radius: 5px;
}

.letterImg {
  height: calc((90vh - 28px) / 15);
  width: calc((90vh - 28px) / 15);
}

